body {
    margin: 0px auto;
    background: #000000;
    color: #0F0;
    font-family: monospace;
    font-size: 1.5rem;
}

h1 {
    font-family: 'VT323',monospace;
}

header {
    padding-left: 5rem;
    width: 80%;
    max-width: 900px;
}

main {
    width: 90%;
    max-width: 900px;
    padding-left: 5rem;
    /* margin: 0px auto; */
}

.container {
    /* border: 1px dashed #FFFFFF; */

    display: flex;
    padding: 1.25rem;
}
 /* What if I'm small ? */
@media (max-width: 804px){
    body{
        margin: 0px 10px;
        font-size: 1rem;
        padding: 0 0 0 10px;
    }
    main {
        padding: 0 0 0 10px;
        padding-left: 1rem;
        width: 100%;
    }
    header{
        padding: 0 0 0 10px;
        width: 100%;
    }
    .container{
        padding: 0;
    }
}
#leftBox {
    margin-right: 1rem;
}

#bonusCalc {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px #0F0;
    border-radius: 4px;
    font-family: 'VT323',monospace;
    font-size: 1em;
    color: #0F0;
    background-color: #000000;
    /* size comes from text & padding (no width/height) */
    padding: .7rem 1.7rem;
}